{% set externalIcon %}<i class="bi bi-box-arrow-up-right"></i>{% endset %}

<nav class="navbar navbar-light navbar-expand-md" role="navigation">
    <div class="container-fluid">
    <a class="navbar-brand" href="/">Szentírás.eu</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Menü">
        <span class="navbar-toggler-icon"></span>
    </button>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i class="bi bi-book"></i> Fordítások<span class="caret"></span></a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <!--a class="dropdown-item" href="/KNB">Káldi-Neovulgáta (KNB)</a-->
                        <a class="dropdown-item" href="/SZIT">Szent István Társulati Biblia (SZIT)</a>
                        <a class="dropdown-item" href="/BD">Békés-Dalos Újszövetségi Szentírás (BD)</a></a>
                        <a class="dropdown-item" href="/STL">Simon Tamás László Újszövetség-fordítása (STL)</a>
                        <div class="dropdown-divider"></div>
                        <!--a class="dropdown-item" href="/RUF">Magyar Bibliatársulat Újfordítású Bibliája 2014 (RUF)</a-->
                        <a class="dropdown-item" href="/KG">Károli Gáspár revideált fordítása (KG)</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="http://ujszov.hu" class="" rel="external" target="_new">
                            Görög újszövetségi honlap {{ externalIcon }}</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/forditasok">Ismertetés a fordításokról/licenszek</a>
                      </div>
                <li class="nav-item"><a class="nav-link" href="/tervek"><i class="bi bi-calendar-check"></i> Tervek</a></li>
                <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i class="bi bi-tools"></i> Eszközök<span class="caret"></span></a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="/tools/memorygame">
                            <i class="bi bi-puzzle"></i> Memóriajáték készítő
                        </a>
                        <a class="dropdown-item" href="/tools/memory-game-play">
                            <i class="bi bi-puzzle-fill"></i> Online memóriajáték
                        </a>
                        <a class="dropdown-item" href="/tools/guessbook">
                            <i class="bi bi-book-half"></i> Találd ki a könyvet
                        </a>
                        <a class="dropdown-item" href="/tools/guess-word">
                            <i class="bi bi-fonts"></i> Találd ki a hiányzó szót
                        </a>
                        <a class="dropdown-item" href="/tools/verse-scramble">
                            <i class="bi bi-shuffle"></i> Verskirakó játék
                        </a>
                        <a class="dropdown-item" href="/tools/word-from-next-verse">
                            <i class="bi bi-text-paragraph"></i> Szó a következő versből
                        </a>
                        <a class="dropdown-item" href="/quiz">
                            <i class="bi bi-question"></i> Kvíz
                        </a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i class="bi bi-link-45deg"></i> Honlapok<span class="caret"></span></a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="https://szentjozsefhackathon.github.io/napi-lelki-batyu/naptar.html" target="_new">Katolikus igenaptár {{ externalIcon }}</a>
                        <a class="dropdown-item" href="https://lh.kbs.sk/cgi-bin/l.cgi?qt=pdnes&j=hu" target="_new">Zsolozsma {{ externalIcon }}</a>
                        <a class="dropdown-item" href="https://zsolozsma.katolikus.at" target="_new">Bencés zsolozsma {{ externalIcon }}</a>
                        <a class="dropdown-item" href="https://szentiras.hu/" target="_new">Szent Jeromos Katolikus Bibliatársulat {{ externalIcon }}</a>
                    </div>
                </li>
                <li class="nav-item"><a class="nav-link" href="/informaciok"><i class="bi bi-info-circle"></i> Információk</a></li>
                {% if isEditor() %}
                <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i class="bi bi-pencil-square"></i> Szerkesztés<span class="caret"></span></a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="{{ route('editor.commentaries.index') }}">
                            <i class="bi bi-chat-left-text"></i> Kommentárok
                        </a>
                        <a class="dropdown-item" href="{{ route('editor.contactMessages.index') }}">
                            <i class="bi bi-inbox-fill"></i> Beérkezett üzenetek
                        </a>
                        <a class="dropdown-item" href="{{ route('editor.anonymousIds.index') }}">
                            <i class="bi bi-person-badge"></i> Anonim azonosítók
                        </a>
                        <a class="dropdown-item" href="{{ route('editor.apiKeys.index') }}">
                            <i class="bi bi-key-fill"></i> API kulcsok
                        </a>
                        <a class="dropdown-item" href="{{ route('editor.themes.index') }}">
                            <i class="bi bi-tags-fill"></i> Témák
                        </a>
                    </div>
                </li>
                {% endif %}
              </ul>
              <ul class="navbar-nav ms-auto">
                <li class="nav-item my-auto">
                    <a class="nav-link" href="/contact" title="Kapcsolatfelvétel">
                        <i class="bi bi-envelope"></i>
                    </a>
                </li>
                <li class="nav-item">
                    {% if  not session('anonymous_token') %}
                    {% set currentPath = app.request.pathInfo %}
                    <a class="nav-link" href="/login{% if currentPath != '/login' %}?r={{ currentPath|url_encode }}{% endif %}" title="Belépés">
                        <i class="bi bi-person bi-large"></i>
                    </a>
                    {% else %}
                        <a class="nav-link" href="/profile/{{ session('anonymous_token') }}" title="{% if isEditor() %}Szerkesztő{% else %}Felhasználó{% endif %}">
                            {% if isEditor() %}
                                <i class="bi bi-person-gear bi-large" style="color: #28a745;"></i>
                                <span class="badge bg-success ms-1" style="font-size: 0.6em;">Szerk.</span>
                            {% else %}
                                <i class="bi bi-person-check bi-large"></i>
                            {% endif %}
                            {% set unreadCount = unreadMessageCount() %}
                            {% if unreadCount > 0 %}
                                <span class="badge bg-danger ms-1" style="font-size: 0.6em;">
                                    <i class="bi bi-envelope"></i>
                                    {{ unreadCount }}
                                </span>
                            {% endif %}
                        </a>
                    {% endif %}
                </li>
                <li class="nav-item my-auto">
                    <button class="btn btn-link nav-link theme-toggle" type="button" title="Sötét/világos mód váltása">
                        <i class="bi bi-sun theme-icon"></i>
                    </button>
                </li>
             </ul>
        </div>
    </div>
</nav>
